<!DOCTYPE html>
<html ng-app="repoFormsApp">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CStats Project</title>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular-environment/dist/angular-environment.min.js"></script>
    <script src="lib/angular-route/angular-route.min.js"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="lib/angular-messages/angular-messages.min.js"></script>
    <script src="lib/angular-smart-table/dist/smart-table.min.js"></script>
    <script src="lib/angular-busy/dist/angular-busy.min.js"></script>
    <script src="lib/ngstorage/ngstorage.min.js"></script>


    <script src="app/js/app.js"></script>
    <script src="app/js/services.js"></script>
    <script src="app/js/directives.js"></script>
    <script src="app/js/ctrl.js"></script>

    <script src="lib/jquery-1.10.2.min.js"></script>
    <script src="lib/jquery.signalr-2.2.0.min.js"></script>
    <script src="WebApi/signalr/hubs"></script>

    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="lib/angular-busy/dist/angular-busy.css" rel="stylesheet" />
    <link href="app/css/app.css" rel="stylesheet" />

</head>

<body ng-controller="masterCtrl" class="container">

    <div class="form-group">
        <h1>CStats Project</h1>
    </div>
    <div class="form-group">
        {{masterWelcome}}
    </div>

    <div ng-view ng-cloak></div>
    <br /><br /><br /><br />

</body>
</html>


<!-- This is where all our wonderful modals will be places -->

<script type="text/ng-template" id="confirmReset.html">
    <div class="modal-header">
        <h3 class="modal-title">Notice</h3>
    </div>
    <div class="modal-body">
        ALL records for this meeting for this day will be wiped out!  If you are fine with it, please type: "yes":
    </div>
    <div class="modal-footer">
        <div class="input-group">
            <input ng-model="inputString" class="form-control" placeholder="are you sure... " type="text" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-danger" ng-click="close()">
                    <i class="glyphicon glyphicon-thunbs-up"> Just DO IT!
                    </i>
                </button>
            </span>
        </div>
    </div>
</script>


<script type="text/ng-template" id="modalConfirmDeleteCtrl.html">
    <div class="modal-header bg-primary">
        <h3 class="modal-title">Notice</h3>
    </div>
    <div class="modal-body  bg-primary">
        Are you sure you want to delete account# {{row.accountNumber}} for investigator: {{row.investigator}}?
    </div>
    <div class="modal-footer  bg-primary">
        <button class="btn btn-danger" type="button" ng-click="delete()">Delete</button>
        <button class="btn btn-primary" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="saveDialog.html">
    <div class="modal-header">
        <h3 class="modal-title">{{titleString}}</h3>
    </div>
    <div class="modal-body">
            <input ng-model="inputString" class="form-control" placeholder={{placeHolderString}} type="text" />
    </div>
    <div class="modal-footer  bg-default">
        <button class="btn btn-primary" type="button" ng-click="save()">Save</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>