<form class="form-horizontal" name="myForm" role="form" novalidate>
    <fieldset>
        <legend>Assignment Write-Up</legend>
        <div class="panel panel-default">
            <div class="panel-heading">General</div>
            <div class="panel-body">



                <div class="form-group" show-errors>
                    <div>
                        <label for="createdDate" class="col-sm-3 control-label">Date</label>
                        <div class="col-sm-6">
                            <p class="input-group">
                                <input id="createdDate" name="createdDate" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="rf.createdDate" is-open="datePopupStatus.created" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" readonly />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openDatePopup(enumPopupType.CREATED)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                            <div class="help-block" ng-messages="myForm.createdDate.$error" ng-show="myForm.createdDate.$touched || submitted">
                                <div ng-messages-include="app/html/error-messages.html"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <div>
                        <label for="repoDate" class="col-sm-3 control-label">Repo Date</label>
                        <div class="col-sm-6">
                            <p class="input-group">
                                <input id="repoDate" name="repoDate" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="rf.repoDate" is-open="datePopupStatus.repo" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" readonly />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openDatePopup(enumPopupType.REPO)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                            <div class="help-block" ng-messages="myForm.repoDate.$error" ng-show="myForm.repoDate.$touched || submitted">
                                <div ng-messages-include="app/html/error-messages.html"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <label for="accountNumber" class="col-sm-3 control-label">Account #</label>
                    <div class="col-sm-9">
                        <input type="text" ng-maxlength="ng_maxLength" maxlength={{maxLength}} id="accountNumber" name="accountNumber" class="form-control"
                               ng-model="rf.accountNumber" ng-required="true" />
                        <div class="help-block" ng-messages="myForm.accountNumber.$error" ng-show="myForm.accountNumber.$touched || submitted">
                            <div ng-messages-include="app/html/error-messages.html"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <label for="investigator" class="col-sm-3 control-label">Investigator</label>
                    <div class="col-sm-9">
                        <input type="text" ng-maxlength="ng_maxLength" maxlength={{maxLength}} id="investigator" name="investigator" class="form-control"
                               ng-model="rf.investigator" ng-required="true" />
                        <div class="help-block" ng-messages="myForm.investigator.$error" ng-show="myForm.investigator.$touched || submitted">
                            <div ng-messages-include="app/html/error-messages.html"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <label for="client" class="col-sm-3 control-label">Client</label>
                    <div class="col-sm-9">
                        <input type="text" ng-maxlength="ng_maxLength" maxlength={{maxLength}} id="client" name="client" class="form-control"
                               ng-model="rf.client" ng-required="true" />
                        <div class="help-block" ng-messages="myForm.client.$error" ng-show="myForm.investigator.$touched || submitted">
                            <div ng-messages-include="app/html/error-messages.html"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <label for="closeType" class="col-sm-3 control-label">Close Type</label>
                    <div class="col-sm-9">
                        <input type="text" ng-maxlength="ng_maxLength" maxlength={{maxLength}} id="closeType" name="closeType" class="form-control"
                               ng-model="rf.closeType" ng-required="true" />
                        <div class="help-block" ng-messages="myForm.closeType.$error" ng-show="myForm.closeType.$touched || submitted">
                            <div ng-messages-include="app/html/error-messages.html"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <label for="customerName" class="col-sm-3 control-label">Customer</label>
                    <div class="col-sm-9">
                        <input type="text" ng-maxlength="ng_maxLength" maxlength={{maxLength}} id="customerName" name="customerName" class="form-control"
                               ng-model="rf.customerName" ng-required="true" uib-typeahead="item for item in typeAheadModel.customerList  | filter:$viewValue | limitTo:8" autocomplete="off" />
                        <div class="help-block" ng-messages="myForm.customerName.$error" ng-show="myForm.customerName.$touched || submitted">
                            <div ng-messages-include="app/html/error-messages.html"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <label for="points" class="col-sm-3 control-label">Points</label>
                    <div class="col-sm-9">
                        <input type="number" ng-maxlength="ng_maxLength" maxlength={{maxLength}} id="points" name="points" class="form-control"
                               ng-model="rf.points" ng-required="true" />
                        <div class="help-block" ng-messages="myForm.points.$error" ng-show="myForm.points.$touched || submitted">
                            <div ng-messages-include="app/html/error-messages.html"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <label for="recoveryAgent" class="col-sm-3 control-label">Recovery Agent</label>
                    <div class="col-sm-9">
                        <input type="text" ng-maxlength="ng_maxLength" maxlength={{maxLength}} id="recoveryAgent" name="recoveryAgent" class="form-control"
                               ng-model="rf.recoveryAgent" ng-required="true" uib-typeahead="item for item in typeAheadModel.recoveryAgentList  | filter:$viewValue | limitTo:8" autocomplete="off" />
                        <div class="help-block" ng-messages="myForm.recoveryAgent.$error" ng-show="myForm.recoveryAgent.$touched || submitted">
                            <div ng-messages-include="app/html/error-messages.html"></div>
                        </div>
                    </div>
                </div>


                <div class="form-group" show-errors>
                    <label for="favColor" class="col-sm-3 control-label">Favorite Color</label>
                    <div class="col-sm-9">
                        <select id="favColor" name="favColor" class="form-control" data-ng-options="color for color in favColorOptions track by color"
                                data-ng-model="rf.favColor" ng-required="true" uib-tooltip="hi there">
                            <option value="">---Please select---</option>
                        </select>
                        <div class="help-block" ng-messages="myForm.favColor.$error" ng-show="myForm.favColor.$touched || submitted">
                            <div ng-messages-include="app/html/error-messages.html"></div>
                        </div>
                    </div>
                </div>


                <div class="form-group" show-errors>
                    <label for="notes" class="col-sm-3 control-label">Notes</label>
                    <div class="col-sm-9">
                        <input type="text" ng-maxlength="1024" maxlength=1024 id="notes" name="notes" class="form-control"
                               ng-model="rf.notes" ng-required="false" uib-tooltip="Enter something in this input field to disable this tooltip" tooltip-trigger="focus"  tooltip-placement="left-top"  />
                        <div class="help-block" ng-messages="myForm.notes.$error" ng-show="myForm.notes.$touched || submitted">
                            <div ng-messages-include="app/html/error-messages.html"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Recovery Address</div>
            <div class="panel-body">
                <div class="form-group" show-errors>
                    <label for="recoveryAddress" class="col-sm-3 control-label">Address</label>
                    <div class="col-sm-9">
                        <input type="text" ng-maxlength="ng_maxLength" maxlength={{maxLength}} id="recoveryAddress" name="recoveryAddress" class="form-control"
                               ng-model="rf.recoveryAddress" ng-required="true" placeholder="Type ahead enabled" uib-typeahead="item.formatted_address for item in getLocation($viewValue)" typeahead-loading="loadingLocations" typeahead-on-select="onSelect($item,'recovery')" typeahead-no-results="noResults" />
                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                        <div ng-show="noResults">
                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>
                        <div class="help-block" ng-messages="myForm.recoveryAddress.$error" ng-show="myForm.recoveryAddress.$touched || submitted">
                            <div ng-messages-include="app/html/error-messages.html"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <label for="recoveryCity" class="col-sm-3 control-label">City</label>
                    <div class="col-sm-5">
                        <input type="text" ng-maxlength="ng_maxLength" maxlength={{maxLength}} id="recoveryCity" name="recoveryCity" class="form-control"
                               ng-model="rf.recoveryCity" ng-required="true" />
                        <div class="help-block" ng-messages="myForm.recoveryCity.$error" ng-show="myForm.recoveryCity.$touched || submitted">
                            <div ng-messages-include="app/html/error-messages.html"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <label for="recoveryState" class="col-sm-3 control-label">State</label>
                    <div class="col-sm-4">
                        <input type="text" ng-maxlength="ng_maxLength" maxlength={{maxLength}} id="recoveryState" name="recoveryState" class="form-control"
                               ng-model="rf.recoveryState" ng-required="true" />
                        <div class="help-block" ng-messages="myForm.recoveryState.$error" ng-show="myForm.recoveryState.$touched || submitted">
                            <div ng-messages-include="app/html/error-messages.html"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <label for="recoveryZip" class="col-sm-3 control-label">ZIP</label>
                    <div class="col-sm-3">
                        <input type="text" ng-maxlength="ng_maxLength" maxlength={{maxLength}} id="recoveryZip" name="recoveryZip" class="form-control"
                               ng-model="rf.recoveryZip" ng-required="true" />
                        <div class="help-block" ng-messages="myForm.recoveryZip.$error" ng-show="myForm.recoveryZip.$touched || submitted">
                            <div ng-messages-include="app/html/error-messages.html"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Storage Address</div>
            <div class="panel-body">
                <div class="form-group" show-errors>
                    <label for="storageAddress" class="col-sm-3 control-label">Address</label>
                    <div class="col-sm-9">
                        <input type="text" ng-maxlength="ng_maxLength" maxlength={{maxLength}} id="storageAddress" name="storageAddress" class="form-control"
                               ng-model="rf.storageAddress" ng-required="false" placeholder="Type ahead enabled" uib-typeahead="item.formatted_address for item in getLocation($viewValue)" typeahead-loading="loadingLocations" typeahead-on-select="onSelect($item,'storage')" typeahead-no-results="noResults" />
                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                        <div ng-show="noResults">
                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>
                        <div class="help-block" ng-messages="myForm.storageAddress.$error" ng-show="myForm.storageAddress.$touched || submitted">
                            <div ng-messages-include="app/html/error-messages.html"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <label for="storageCity" class="col-sm-3 control-label">City</label>
                    <div class="col-sm-5">
                        <input type="text" ng-maxlength="ng_maxLength" maxlength={{maxLength}} id="storageCity" name="storageCity" class="form-control"
                               ng-model="rf.storageCity" ng-required="false" />
                        <div class="help-block" ng-messages="myForm.storageCity.$error" ng-show="myForm.storageCity.$touched || submitted">
                            <div ng-messages-include="app/html/error-messages.html"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <label for="storageState" class="col-sm-3 control-label">State</label>
                    <div class="col-sm-4">
                        <input type="text" ng-maxlength="ng_maxLength" maxlength={{maxLength}} id="storageState" name="storageState" class="form-control"
                               ng-model="rf.storageState" ng-required="false" />
                        <div class="help-block" ng-messages="myForm.storageState.$error" ng-show="myForm.storageState.$touched || submitted">
                            <div ng-messages-include="app/html/error-messages.html"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <label for="storageZip" class="col-sm-3 control-label">ZIP</label>
                    <div class="col-sm-3">
                        <input type="text" ng-maxlength="ng_maxLength" maxlength={{maxLength}} id="storageZip" name="storageZip" class="form-control"
                               ng-model="rf.storageZip" ng-required="false" />
                        <div class="help-block" ng-messages="myForm.storageZip.$error" ng-show="myForm.storageZip.$touched || submitted">
                            <div ng-messages-include="app/html/error-messages.html"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <label for="storageAdditionalFees" class="col-sm-3 control-label">Additional Fees</label>
                    <div class="col-sm-9">
                        <input type="text" ng-maxlength="ng_maxLength" maxlength={{maxLength}} id="storageAdditionalFees" name="storageAdditionalFees" class="form-control"
                               ng-model="rf.storageAdditionalFees" ng-required="false" />
                        <div class="help-block" ng-messages="myForm.storageAdditionalFees.$error" ng-show="myForm.storageAdditionalFees.$touched || submitted">
                            <div ng-messages-include="app/html/error-messages.html"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <label for="storageFeeReason" class="col-sm-3 control-label">Reason</label>
                    <div class="col-sm-9">
                        <input type="text" ng-maxlength="ng_maxLength" maxlength={{maxLength}} id="storageFeeReason" name="storageFeeReason" class="form-control"
                               ng-model="rf.storageFeeReason" ng-required="false" />
                        <div class="help-block" ng-messages="myForm.storageFeeReason.$error" ng-show="myForm.storageFeeReason.$touched || submitted">
                            <div ng-messages-include="app/html/error-messages.html"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Police Department Info</div>
            <div class="panel-body">
                <div class="form-group" show-errors>
                    <label for="policeDept" class="col-sm-3 control-label">Dept</label>
                    <div class="col-sm-9">
                        <input type="text" ng-maxlength="ng_maxLength" maxlength={{maxLength}} id="policeDept" name="policeDept" class="form-control"
                               ng-model="rf.policeDept" ng-required="false" />
                        <div class="help-block" ng-messages="myForm.policeDept.$error" ng-show="myForm.policeDept.$touched || submitted">
                            <div ng-messages-include="app/html/error-messages.html"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <label for="policeNumber" class="col-sm-3 control-label">Phone #</label>
                    <div class="col-sm-9">
                        <input type="text" ng-maxlength="ng_maxLength" maxlength={{maxLength}} id="policeNumber" name="policeNumber" class="form-control"
                               ng-model="rf.policeNumber" ng-required="false" />
                        <div class="help-block" ng-messages="myForm.policeNumber.$error" ng-show="myForm.policeNumber.$touched || submitted">
                            <div ng-messages-include="app/html/error-messages.html"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <label for="policeBadgeNumber" class="col-sm-3 control-label">Badge #</label>
                    <div class="col-sm-9">
                        <input type="text" ng-maxlength="ng_maxLength" maxlength={{maxLength}} id="policeBadgeNumber" name="policeBadgeNumber" class="form-control"
                               ng-model="rf.policeBadgeNumber" ng-required="false" />
                        <div class="help-block" ng-messages="myForm.policeBadgeNumber.$error" ng-show="myForm.policeBadgeNumber.$touched || submitted">
                            <div ng-messages-include="app/html/error-messages.html"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Vehicle Info</div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"
                                       ng-model="rf.keysChecked" />Keys
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"
                                       ng-model="rf.drivableChecked" />Drivable
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <label for="personals" class="col-sm-3 control-label">Personals</label>
                    <div class="col-sm-9">
                        <input type="text" ng-maxlength="ng_maxLength" maxlength={{maxLength}} id="personals" name="personals" class="form-control"
                               ng-model="rf.personals" ng-required="false" />
                        <div class="help-block" ng-messages="myForm.personals.$error" ng-show="myForm.personals.$touched || submitted">
                            <div ng-messages-include="app/html/error-messages.html"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Department confirmation</div>
            <div class="panel-body">
                <div class="form-group" show-errors>
                    <label for="iPRUpdated" class="col-sm-3 control-label">IPR Updated</label>
                    <div class="col-sm-9">
                        <input type="text" ng-maxlength="ng_maxLength" maxlength={{maxLength}} id="iPRUpdated" name="iPRUpdated" class="form-control"
                               ng-model="rf.iPRUpdated" ng-required="false" />
                        <div class="help-block" ng-messages="myForm.iPRUpdated.$error" ng-show="myForm.iPRUpdated.$touched || submitted">
                            <div ng-messages-include="app/html/error-messages.html"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <label for="repoProcessing" class="col-sm-3 control-label">Repo Processing</label>
                    <div class="col-sm-9">
                        <input type="text" ng-maxlength="ng_maxLength" maxlength={{maxLength}} id="repoProcessing" name="repoProcessing" class="form-control"
                               ng-model="rf.repoProcessing" ng-required="false" />
                        <div class="help-block" ng-messages="myForm.repoProcessing.$error" ng-show="myForm.repoProcessing.$touched || submitted">
                            <div ng-messages-include="app/html/error-messages.html"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <label for="billing" class="col-sm-3 control-label">Billing</label>
                    <div class="col-sm-9">
                        <input type="text" ng-maxlength="ng_maxLength" maxlength={{maxLength}} id="billing" name="billing" class="form-control"
                               ng-model="rf.billing" ng-required="false" />
                        <div class="help-block" ng-messages="myForm.billing.$error" ng-show="myForm.billing.$touched || submitted">
                            <div ng-messages-include="app/html/error-messages.html"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <div>
                        <label for="initializedDate" class="col-sm-3 control-label">Date</label>
                        <div class="col-sm-6">
                            <p class="input-group">
                                <input id="initializedDate" name="initializedDate" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="rf.initializedDate" is-open="datePopupStatus.signed" datepicker-options="dateOptions" ng-required="false" close-text="Close" alt-input-formats="altInputFormats" readonly />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openDatePopup(enumPopupType.SIGNED)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                            <div class="help-block" ng-messages="myForm.initializedDate.$error" ng-show="myForm.initializedDate.$touched || submitted">
                                <div ng-messages-include="app/html/error-messages.html"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="form-group" show-errors>
                    <label class="col-sm-3 control-label">Signature</label>
                    <div class="col-sm-9">
                        <div style="border: 2px solid; height: 220px; width: 500px">
                            <signature-pad accept="accept"  height="220" width="500"></signature-pad>
                        </div>
                        <button ng-click="clear()">Clear signature</button>
                        <button ng-click="signature = accept()">Sign</button>
                    </div>
                </div>-->
            </div>
        </div>
    </fieldset>
    <div class="col-sm-offset-3 col-sm-9">
        <input type="button" class="btn btn-default" value="Cancel"
               ng-click="cancelForm()" />
        <input type="submit" class="btn btn-primary" value="Submit"
               ng-click="submitForm()" />
        <input type="reset" class="btn btn-warning" value="Reset"
               ng-click="resetForm()" />
        <div class="alert alert-danger" ng-if="hasFormError">{{formErrors}}</div>
    </div>
</form>
