<table ng-repeat="grid in grids" st-table="displayCollection" st-safe-src="fms" class="table table-striped">
    <thead>
        <tr>
            <th ng-repeat="header in grid.headers">{{header.title}}</th>
        </tr>
        <tr>
            <td colspan="100">
                <div class="row">
                    <div class="col-xs-6"><input st-search="" class="form-control" placeholder="Meeting Name ..." type="text" /></div>
                    <div class="col-xs-5"><input st-search="" class="form-control" placeholder="Meeting Date ..." type="text" /></div>
                    <div class="col-xs-1"><button class="btn btn-sm btn-default" type="button" ng-click="Refresh(grid)"><i class="glyphicon glyphicon-refresh"></i></button></div>
                </div>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="row in grid.data">
            <td ng-repeat="header in grid.headers">{{row[header.key]}}</td>
        </tr>
    </tbody>
</table>
