

.st-sort-ascent:before {
    content: '\25B2';
}

.st-sort-descent:before {
    content: '\25BC';
}

@media (max-width: 768px) {
    .col-xs-12, .col-xs-12, .xs-center {
        text-align: center;
    }

    .xs-float-right {
        float: right;
    }

    .xs-float-left {
        float: left;
    }

    .big-checkbox {
        width: 20px;
        height: 20px;
    }


}

.longPressConfirm {
    border-width: 4px;
}

/* This is here to fix ui bootsrap modal from shifting content to the left on modal pop up*/
body {
    overflow-y: auto;
}
